.navbar-nav a{
  font-size: 18px;

}
.nav-item a.active{
background-color: #f4a800;
}

.nav-item{
  color: azure;
}
.nav-item a {
  color: white;
}

.nav-item a:hover{
background-color: #f4a800;
}

.hero {
  background-color: #fff;
  height: 550vh;
}

/* .card {
  text-align: left;
  border: none;
  background-color: #fff;
  padding: 0px;
  margin-bottom: 20px;
} */

.card-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: linear-gradient(to right, #ffc107, #f4a800);
}

.card-text {
  font-size: 1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}


/* Responsive styles for mobile devices */
@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .col-md-6 {
    width: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }
}


