.navbar-nav a{
  font-size: 18px;

}
.nav-item a.active{
background-color: #f4a800;
}

.nav-item{
  color: azure;
}
.nav-item a {
  color: white;
}

.nav-item:hover{
background-color: #b5f10ed3;
}
.nav-link.active {
   color: red;
}

.hero {
  background-color: #fff;
  height: 550vh;
}

/* .card {
  text-align: left;
  border: none;
  background-color: #fff;
  padding: 0px;
  margin-bottom: 20px;
} */

.card-img {
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.card-img-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: linear-gradient(to right, #ffc107, #f4a800);
}

.card-text {
  font-size: 1rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
}


/* Responsive styles for mobile devices */
@media screen and (max-width: 767px) {
  .container-1 {
    grid-template-columns: 1fr;
  }

  .col-md-6 {
    width: 100%;
  }

  .img {
    width: 100%;
    height: auto;
  }
  .buttons {
    flex-wrap: wrap;
  }

  .buttons button {
    margin: 5px;
    flex: 1 0 45%; /* Adjust the flex properties as per your desired layout */
  }
  .navbar-brand {
    display: block;
    text-align: center;
  }

  .navbar-brand img {
    width: 80%; /* Adjust the image width as per your design */
    height: auto;
    max-width: 200px; /* Limit the maximum width of the image */
    margin: 0 auto; /* Center the image horizontally */
  }

  .navbar-toggler {
    margin-top: 10px; /* Add some space between the navbar brand and toggler */
  }

  /* Hide the toggler icon on mobile since it's not necessary */
  .navbar-toggler-icon {
    display: none;
  }
}


